/*Fuentes*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Generales*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    display: block;
    text-align: center;   
}

/*Navbar*/

nav{
    background-color: #4EA526;
    color:transparent;
    padding: 10px !important;
    border: 2px;
}

.nav-menu{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-menu a{
   color: white;
}
.nav-menu a:hover{
    color:coral;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 5px;
    border: #4EA526;
}

/*Contenedor superior-*/


.box1 {
    width: 500px;
    height: 500px;
    padding: 10px;
    margin: 30px;
    font-size: 70px;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.box2 {
    border: 5px;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    max-width: 50%;
}

.box2 img{
    max-width: 70%;
    height: 50%;
    object-fit: cover;
    border-radius: 15px;
}


/*Contenedor Inferior*/

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box3{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top:5px;
    padding-bottom: 10px;
    width: 700px;
    max-width: 100%;
    border-radius: 8px;
    border: 2px solid #4EA526 ;
    font-size: 20px;
}

.box4{
    margin:20px;
    width: 700px;
    max-width: 100%;
    font-size: 20px;
}


body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #fdfdde;
    
}

ul li{
    display: inline-block;
    padding-inline: 5px;
    
}

.fondo{
    background-color: blueviolet
    ;
    width: 600px;
    height: 400px;
}
/*---------------------------------- Footer-----------------------------------*/

/* Estilo general para el footer */
footer.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    
}

footer h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
}

footer ul li {
    display: inline-block;
}

footer ul li a i {
    font-size: 1.5rem; 
}

footer ul li {
    text-align: center;
    margin-bottom: 10px;
}

footer p {
    padding: 0;
    display: flex;
    justify-content: center;
}



/*-------------------------FIN INDEX-----------------------------------*/

/*---------------------------- Contacto ---------------------------------*/

main{
    margin: 10px;
    padding: 10px;
}

h2{
    margin-top:10px;
    padding-top:10px;
    padding-left:10px;
    text-align: center;
}
form{
    
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.titulo{
    margin: 15px;
}

input{
    font-size: large;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

div.formbuttons{
    display: flex;
    font-size: 14px;
    border-radius: 3px;
    justify-content: space-between;

}



/*-----------------------FIN CONTACTO------------------------------------*/


/*------------------------- Tienda--------------------------------------- */
h1{
    text-align: center;
    padding: 10px;
}

h4{
    text-align: center;

}
p{
    text-align: center;
}

.container {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     padding: 10px; 
    } 
     
.card1 { 
        border: 1px solid #ccc;
        background-color: white;
        border-radius: 8px;
        padding: 16px;
        margin: 16px;
        flex: 1 1 200px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        max-width: 300px;
    }

    .card1 img { 
    max-width: 100%; border-radius: 8px;
 } 
    .card1 button {
        background-color: #4CAF50;
        color: white; border: none;
        padding: 10px 20px; text-align: center;
        display: block; width: 100%;
        font-size: 16px;
        margin: 10px 0;
        cursor: pointer;
        border-radius: 8px;
    }
    
#carrito {
    margin: 40px;
    padding: 20px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
} 
    
#carrito h2 {text-align: center; 
}

#lista-carrito {
    list-style-type: none;
    padding: 0;
} 

#lista-carrito li { 
    background-color: #f9f9f9; 
    margin: 5px 0; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
 
 }

#lista-carrito li button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
 } 
 
 #lista-carrito p { 
    text-align: right;
    font-weight: bold;
}

#total-carrito{
    font-size: 18px;
    font-weight:bold;
}
#contador-carrito{
    font-size: 18px;
    font-weight: bold;
    
}

/*---------------------FIN TIENDA----------------------------------*/




@media (max-width: 600px) { nav ul { display: flex; flex-direction: column; align-items: center; } .container { flex-direction: column; align-items: center; } .card1 { width: 100%; max-width: 350px; } #carrito { width: 90%; max-width: none; } }


@media (min-width: 601px) and (max-width: 1024px) { .card1 { flex: 1 1 45%; } nav ul {display: flex; justify-content: space-around; } }