@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    display: block;
    text-align: center;   
}

/*Navbar*/

nav{
    background-color: #4EA526;
    color:transparent;
    padding: 10px !important;
    border: 2px;
}

.nav-menu{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-menu a{
   color: white;
}
.nav-menu a:hover{
    color:coral;
}

.container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    border-radius: 5px;
    border: #4EA526;
}

/* primera parte*/


.box1 {
    width: 500px;
    height: 500px;
    padding: 10px;
    margin: 30px;
    font-size: 70px;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.box2 {
    border: 5px; /* Borde alrededor del div */
    padding: 5px; /* Espacio entre la imagen y el borde del div */
    display: inline-block; /* Asegura que el div se ajuste al tamaño de la imagen */
    border-radius: 15px; /* Redondea los bordes del div */
    text-align: center;
    width: 50%;
}

.box2 img{
    max-width: 70%;
    height: 50%;
    border-radius: 15px;
}


/*segunda parte*/

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box3{
    margin: 10px;
    padding: 20px;
    width: 700px;
    max-width: 100%;
    border-radius: 8px;
    border: 2px solid #4EA526 ;
    font-size: 20px;
}

.box4{
    margin:20px;
    width: 700px;
    max-width: 100%;
    font-size: 20px;
}


body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #fdfdde;
}

ul li{
    display: inline-block;
    padding-inline: 5px;
    
}

.fondo{
    background-color: blueviolet
    ;
    width: 600px;
    height: 400px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:20px;
}

/* Contacto */

.titulo{
    margin: 15px;
}

input{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

/* Tienda */

.card1{
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    text-align: center;
    margin: auto;
    padding-top: 10px;
}

.card1 img {
    width: 100%;
    height: auto;
}

.card1 button{
    border-radius: 5px;
    margin: 10px;
    font-weight: 300;
    padding:10px;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;

}